## Step-1 Import Libraries

In [5]:
pip install alpha-vantage

Collecting alpha-vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Requirement already satisfied: aiohttp in c:\users\darkside\anaconda3\lib\site-packages (from alpha-vantage) (3.8.1)
Requirement already satisfied: requests in c:\users\darkside\anaconda3\lib\site-packages (from alpha-vantage) (2.27.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (4.0.1)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (1.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (5.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (2.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (1.6.3)
Requirement already satisfied: attrs>=17.3.0 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (21.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\darkside\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\darkside\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp->alpha-vantage) (4.1.1)
Requirement already satisfied: idna>=2.0 in c:\users\darkside\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->alpha-vantage) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\darkside\anaconda3\lib\site-packages (from requests->alpha-vantage) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\darkside\anaconda3\lib\site-packages (from requests->alpha-vantage) (2021.10.8)
Installing collected packages: alpha-vantage
Successfully installed alpha-vantage-2.3.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
# import libraries

import numpy as np
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

## Step-2 Load dataset into pandas dataframes 

### 1. confirm_case_df for confirm url
### 2. death_case_df for death url

In [7]:
confirm_case_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
death_case_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [8]:
confirm_case_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205506,205541,205612,205612,205802,205830,205907,206073,206133,206145
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333305,333316,333322,333330,333330,333338,333343,333360,333381,333391
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271050,271057,271061,271061,271079,271082,271090,271096,271100,271102
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,47219,47219,47219,47219
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333721,333721,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,259164,259164,259164,259164

In [9]:
death_case_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7833,7834,7834,7834
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,156,156,157,157,157,157
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1923,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5620,5620,5620,5620

## 3)	Use pandas to create a dataframe that aggregates and sums both confirmed cases and deaths on a global level

First let's remove all the unnecessary columns from both confirm and death dataframe such as Province/State, Lat, and Long

In [10]:
confirm_case_df.drop(columns=['Province/State','Lat','Long'], inplace=True)
death_case_df.drop(columns=['Province/State','Lat','Long'],inplace=True)

In [11]:
confirm_case_df

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,205506,205541,205612,205612,205802,205830,205907,206073,206133,206145
1,Albania,0,0,0,0,0,0,0,0,0,...,333305,333316,333322,333330,333330,333338,333343,333360,333381,333391
2,Algeria,0,0,0,0,0,0,0,0,0,...,271050,271057,271061,271061,271079,271082,271090,271096,271100,271102
3,Andorra,0,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,47219,47219,47219,47219
4,Angola,0,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,Zambia,0,0,0,0,0,0,0,0,0,...,333721,333721,333721,333721,333721,333746,333746,333746,333746,333746
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,259164,259164,259164,259164

In [12]:
death_case_df

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7833,7834,7834,7834
1,Albania,0,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,Algeria,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,Andorra,0,0,0,0,0,0,0,0,0,...,156,156,156,156,156,156,157,157,157,157
4,Angola,0,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1923,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,Yemen,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,Zambia,0,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5620,5620,5620,5620

There might some records for the same coutry having in same dataframe so let's first perform groupby on country/region column and sum up the cases if so.

In [14]:
confirmed_df = confirm_case_df.groupby(['Country/Region']).sum()
death_df = death_case_df.groupby(['Country/Region']).sum()

In [15]:
confirmed_df

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,205506,205541,205612,205612,205802,205830,205907,206073,206133,206145
Albania,0,0,0,0,0,0,0,0,0,0,...,333305,333316,333322,333330,333330,333338,333343,333360,333381,333391
Algeria,0,0,0,0,0,0,0,0,0,0,...,271050,271057,271061,271061,271079,271082,271090,271096,271100,271102
Andorra,0,0,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,47219,47219,47219,47219
Angola,0,0,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
Yemen,0,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
Zambia,0,0,0,0,0,0,0,0,0,0,...,333721,333721,333721,333721,333721,333746,333746,333746,333746,333746
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,257893,259164,259164,259164,259164

In [16]:
death_df

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7833,7834,7834,7834
Albania,0,0,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,156,156,156,156,156,156,157,157,157,157
Angola,0,0,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1923,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
Zambia,0,0,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5606,5620,5620,5620,5620

Sum all the cases for the country. For that let's apply sum() on axis=1.

In [63]:
covid_positive = confirmed_df.sum(axis=1).reset_index()
covid_positive.rename(columns={'Country/Region':'Country',0:'Confirmed_cases'},inplace=True)
covid_positive

                  Country  Confirmed_cases
0             Afghanistan        109802566
1                 Albania        153163309
2                 Algeria        156424593
3                 Andorra         19915764
4                  Angola         49831189
..                    ...              ...
196    West Bank and Gaza        344332308
197  Winter Olympics 2022           162567
198                 Yemen          6720770
199                Zambia        163136248
200              Zimbabwe        115036396

[201 rows x 2 columns]

In [64]:
covid_negative = death_df.sum(axis=1).reset_index()
covid_negative.rename(columns={'Country/Region':'Country',0:'Total_death'},inplace=True)
covid_negative

                  Country  Total_death
0             Afghanistan      4658196
1                 Albania      2136587
2                 Algeria      4233818
3                 Andorra       111308
4                  Angola      1044640
..                    ...          ...
196    West Bank and Gaza      3201033
197  Winter Olympics 2022            0
198                 Yemen      1306023
199                Zambia      2240104
200              Zimbabwe      2913126

[201 rows x 2 columns]

Merge the above two saperate dataframes into one

In [66]:
global_level_df = pd.merge(covid_positive,covid_negative,on='Country')

In [67]:
global_level_df

                  Country  Confirmed_cases  Total_death
0             Afghanistan        109802566      4658196
1                 Albania        153163309      2136587
2                 Algeria        156424593      4233818
3                 Andorra         19915764       111308
4                  Angola         49831189      1044640
..                    ...              ...          ...
196    West Bank and Gaza        344332308      3201033
197  Winter Olympics 2022           162567            0
198                 Yemen          6720770      1306023
199                Zambia        163136248      2240104
200              Zimbabwe        115036396      2913126

[201 rows x 3 columns]


## Step-4 Stock reasearch

In [28]:
k = 'NV1T7B89DEYLSJ4T'
ts = TimeSeries(key=k,output_format='pandas')
american = ts.get_daily_adjusted('NASDX')
canadian = ts.get_daily_adjusted('TSCO.LON')
travel = ts.get_daily_adjusted('AC')
real_estate = ts.get_daily_adjusted('PLD')
precious_metal = ts.get_daily_adjusted('CIGI')

In [22]:
american[0]

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2022-12-01,26.01,26.01,26.01,26.01,26.010000,0.0,0.0000,1.0
2022-11-30,25.97,25.97,25.97,25.97,25.970000,0.0,0.7655,1.0
2022-11-29,25.57,25.57,25.57,25.57,24.837906,0.0,0.0000,1.0
2022-11-28,25.75,25.75,25.75,25.75,25.012753,0.0,0.0000,1.0
2022-11-25,26.13,26.13,26.13,26.13,25.381873,0.0,0.0000,1.0
...,...,...,...,...,...,...,...,...
2022-07-19,27.20,27.20,27.20,27.20,26.388848,0.0,0.0000,1.0
2022-07-18,26.38,26.38,26.38,26.38,25.593301,0.0,0.0000,1.0
2022-07-15,26.62,26.62,26.62,26.62,25.826144,0.0,0.0000,1.0
2022-07-14,26.14,26.14,26.14,26.14,25.360459,0.0,0.0000,1.0
2022-07-13,26.05,26.05,26.05,26.05,25.273143,0.0,0.0000,1.0

In [24]:
usa_df = pd.DataFrame(american[0])
cnd_df = pd.DataFrame(canadian[0])
travel_df = pd.DataFrame(travel[0])
real_estate_df = pd.DataFrame(real_estate[0])
precious_metal_df = pd.DataFrame(precious_metal[0])

In [25]:
usa_df.reset_index(level=0, inplace=True)
cnd_df.reset_index(level=0, inplace=True)
travel_df.reset_index(level=0, inplace=True)
real_estate_df.reset_index(level=0, inplace=True)
precious_metal_df.reset_index(level=0, inplace=True)